*{
    padding: 0;
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(../img/Medico-mayor-640x426.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
  }

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container {
    width: 500px;
    height: 300px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5%;
    background-color: #92bdffc5;
}
.form__chekbutton{
    display: flex;
    height: auto;
    width: 30vh;
    justify-content: space-between;
    padding-bottom: 10px;
    margin-top: 20px;
}
.form__button{
    color: white;
    height: 40px;
    width: 250px;
    border-radius: 0 0 10px 10px;
    background: linear-gradient(90deg,rgba(175, 179, 205, 1) 3%, #a6c7ff 90%);
    color: black;
}
.container__title{
    margin-bottom: 15px;
}
.input{
    height: 25px;
    background-color:#536192;
    padding: 8px;
    border: 1px solid white;
    margin-bottom: 7px;
}
input::placeholder{
    color: rgb(180, 180, 180);
}

.form__container{
    display: flex;
}

.form__image{
    height: 23px;
    background:#00264e;
    padding: 9px;
    border: 1px solid white;
}
